<div class="form-control">
    <input type="text" id="tb-thread-title" placeholder="Title">
    <textarea id="tb-thread-content" placeholder="Content"></textarea>
    <a href="#/forum" id="btn-create-thread">Create</a>
</div>