<div class="form-control">
    <input type="text" id="tb-username" placeholder="Username">
    <input type="password" id="tb-password" placeholder="Password">
    <a href="#/" id="btn-login">Login</a>
</div>